.container {
  background-color: #eeaa00;
  width: calc(100vw - 0.6rem);
  text-align: center;
  font-weight: bold;
}
.welcome {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 3rem;
}
.title {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 15px;
  text-transform: uppercase;
  animation: simo 1s ease-in-out;
}

.section {
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.titleh2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #4e4b5c;
}
@keyframes simo {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    transform: translateX(25%);
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.description {
  padding-bottom: 3rem;
  font-weight: bold;
  font-size: 2rem;
}
