.section {
  width: 32rem;
  padding: 5rem 0;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 32rem;
}

.form h1 {
  width: 32rem;
  font-size: 3.2rem;
  border-radius: 4px;
  text-align: center;
  background: #267f14;
  line-height: 5rem;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 3rem;
  gap: 2.2rem;
  width: 32rem;
  background: #eee;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #4e4b5c;
}

.container p {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 2px;
  text-align: center;
}

.container span {
  font-size: 3rem;
  color: #267f14;
  text-transform: uppercase;
}

.linkContainer {
  margin-top: 1rem;
  text-align: center;
  color: #e40909;
  font-weight: 500;
}
