.title {
  text-align: center;
  margin-top: 2rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 2rem;
  max-width: 30rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.topContainer {
  width: 100%;
  height: 6.2rem;
  padding: 1rem;
  background-color: #4e4b5c;
  color: #eee;
  margin-bottom: 1rem;
}

.organizer {
  font-size: 1.2rem;
}

.community {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}
.simulator {
  font-size: 1.6rem;
}

.titleEvent {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title span {
  font-size: 1.8rem;
  font-weight: 600;
}
.description {
  font-size: 1.4rem;

  margin-bottom: 1rem;
}
